<footer  class="bg-dark text-white py-4 mt-5">
    <div  id ="footer" class="container">
        <div class="row">
            <div id = "adress" class="col-md-3 mb-4">
                <h5 class="mb-3">New Computer Store</h5>
                <p>Cung cấp các sản phẩm công nghệ chính hãng với giá tốt nhất thị trường.</p>
                <div class="d-flex">
                    <a href="#" class="text-white me-3"><i class="bi bi-facebook fs-5"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-youtube fs-5"></i></a>
                    <a href="#" class="text-white me-3"><i class="bi bi-instagram fs-5"></i></a>
                    <a href="#" class="text-white"><i class="bi bi-twitter fs-5"></i></a>
                </div>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Thông tin</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white-50">Giới thiệu</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">Tin tức công nghệ</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">Tuyển dụng</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">Liên hệ</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Chính sách</h5>
                <ul class="list-unstyled">
                    <li><a href="#" class="text-decoration-none text-white-50">Chính sách bảo hành</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">Chính sách vận chuyển</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">Chính sách đổi trả</a></li>
                    <li><a href="#" class="text-decoration-none text-white-50">Chính sách bảo mật</a></li>
                </ul>
            </div>
            <div class="col-md-3 mb-4">
                <h5 class="mb-3">Liên hệ</h5>
                <address class="text-white-50">
                    <i class="bi bi-geo-alt"></i> 123 Đường ABC, Quận XYZ, TP. HCM<br>
                    <i class="bi bi-telephone"></i> <a href="tel:1900xxxx" class="text-decoration-none text-white-50">1900.xxxx</a><br>
                    <i class="bi bi-envelope"></i> <a href="mailto:info@example.com" class="text-decoration-none text-white-50">info@example.com</a>
                </address>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-12 text-center">
                <p class="mb-0">© 2023 New Computer Store. Tất cả quyền được bảo lưu.</p>
            </div>
        </div>
    </div>
</footer>
